{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="account-wrapper">
  <div class="container">
    <div class="customer addresses" data-customer-addresses>
      
      <div class="text-center rel">
        <h1>{{ 'customer.custom.welcome' | t }}</h1>
        <a href="{{ routes.account_url }}/logout" class="logout-link">{{ 'customer.custom.logout' | t }}</a>
      </div>
      <div class="text-center big-btn-wrapper no-t-m">
        <a class="big-btn" href="{{ routes.account_url }}">{{ 'customer.custom.orders' | t }}</a>
        <a class="big-btn active" href="#">{{ 'customer.custom.info' | t }}</a>
      </div>
      
      <div class="no-d">
        <div class="account-pages-wrapper">
          <div class="account-accordion">
            <div class="account-titles medium">{{ 'customer.custom.contact' | t }}</div>
            <div class="down-chev"><svg xmlns="http://www.w3.org/2000/svg" width="10.121" height="5.81" viewBox="0 0 10.121 5.81"><defs><style>.a-icon-down-black-chevron{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><path class="a-icon-down-black-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152" transform="translate(-7429.939 -3150.939)"></path></svg>
            </div>
          </div>
          <div class="account-panel"><a href="{{ routes.account_url }}">{{ 'customer.custom.order' | t }}</a></div>
        </div>
      </div>
      
      <div class="address-info flex-box" style="padding-top: 40px;">
        <div class="personal-info">
          <div class="address-title medium">
            <div class="block-info">{{ 'customer.custom.personal_info' | t }}</div>
            <a href="#EditAddress_{{ customer.default_address.id }}" class="change-details" data-address-id="{{ customer.default_address.id }}">{{ 'customer.custom.change' | t }}</a>
          </div>
          <div class="block-details">
            <p>{{ customer.default_address.name }}</p>
            <p>{{ customer.email }}</p>
            <p>{{ customer.default_address.phone }}</p>
          </div>
        </div>
        {% for address in customer.addresses %}
          <div class="shipping-address">
            <div class="address-title medium">
              <div class="block-info">{{ 'customer.custom.shipping' | t }} {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}</div>
              <a href="#EditAddress_{{ address.id }}" class="change-details" data-address-id="{{ address.id }}">{{ 'customer.custom.change' | t }}</a>
            </div>
            <div class="block-details">
              <p>{{ address | format_address }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <button class="add-address">{{ 'customer.custom.newaddr' | t }}</button>
      
      <div class="Add-New-Address" style="max-width: 792px; margin: 0 auto;">
        {% form 'customer_address', customer.new_address %}
        <div id="AddAddress" class="form-vertical" style="display:none;">
          <h2>{{ 'customer.addresses.add_new' | t }}</h2>
          <div class="address-row">
            <div class="field address-cols">
              <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
              <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
            </div>
            <div class="field address-cols">
              <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
              <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
            </div>
          </div>
          <div class="field">
            <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
            <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
          </div>
          <div class="field">
            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
          </div>
          <div class="field">
            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
          </div>
          <div class="field">
            <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
            <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
          </div>
          <div class="field">
            <div class="select">
              <select id="AddressCountry_{{ form.id }}" name="address[country]" data-address-country-select data-default="{{ form.country }}" data-form-id="{{ form.id }}" autocomplete="country">
                {{ all_country_option_tags }}
              </select>
            </div>
            <label for="AddressCountry_{{ form.id }}">
              {{ 'customer.addresses.country' | t }}
            </label>
          </div>
          <div class="field" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
            <div class="select">
              <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
            </div>
            <label for="AddressProvince_{{ form.id }}">
              {{ 'customer.addresses.province' | t }}
            </label>
          </div>
          <div class="field">
            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
            <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
          </div>
          <div class="field">
            <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
            <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
          </div>
          <div class="field setDefault">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_{{ form.id }}">
              {{ 'customer.addresses.set_default' | t }}
            </label>
          </div>
          <div>
            <button class="btn addAddress">{{ 'customer.addresses.add' | t }}</button>
            <button type="reset" id="cancelAdd">{{ 'customer.addresses.cancel' | t }}</button>
          </div>
        </div>
        {% endform %}
      </div>
      
      <ul role="list">
        {%- for address in customer.addresses -%}
        <li data-address>

          {% comment %}
          <h2>
            {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
            {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
          </h2>

          <p>
            {{ address.address1 }}<br>
            {{ address.address2 }}<br>
            {% if address.province_code %}
            {{ address.province_code | upcase }}<br>
            {% endif %}
            {{ address.zip | upcase }} {{ address.city | capitalize }}<br>
            {{ address.country }}<br>
            {{ address.phone }}
          </p>

          <p>
            <span class="edit_Address" data-form-id ="{{address.id }}">Edit</span> |
            <span class="delete_Address" data-form-id ="{{address.id }}">Delete</span>
          </p>
          {% endcomment %}

          {%- form 'customer_address', address -%}
          <div id="EditAddress_{{ address.id }}" style="display:none;margin-top: 1.5rem;">
            <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
            <div class="address-row">
              <div class="field address-cols">
                <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
              </div>
              <div class="field address-cols">
                <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
              </div>
            </div>
            <div class="field">
              <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
              <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
            </div>
            <div class="field">
              <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
              <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
            </div>
            <div class="field">
              <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
              <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
            </div>
            <div class="field">
              <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
              <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
            </div>
            <div class="field">
              <div class="select">
                <select id="AddressCountry_{{ form.id }}" name="address[country]" data-address-country-select data-default="{{ form.country }}" data-form-id="{{ form.id }}" autocomplete="country">
                  {{ all_country_option_tags }}
                </select>
              </div>
              <label for="AddressCountry_{{ form.id }}">
                {{ 'customer.addresses.country' | t }}
              </label>
            </div>
            <div class="field" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
              <div class="select">
                <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
              </div>
              <label for="AddressProvince_{{ form.id }}">
                {{ 'customer.addresses.province' | t }}
              </label>
            </div>
            <div class="field">
              <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
              <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
            </div>
            <div class="field">
              <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
              <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
            </div>
            <div class="field setDefault">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}">
                {{ 'customer.addresses.set_default' | t }}
              </label>
            </div>
            <div>
              <button class="editAddress" data-form-id="{{form.id}}">{{ 'customer.addresses.update' | t }}</button>
              <button type="reset" class="cancelEdit" data-form-id="{{form.id}}">{{ 'customer.addresses.cancel' | t }}</button>
            </div>
          </div>
          {%- endform -%}
        </li>
        {%- endfor -%}
      </ul>
      
    </div>
    
    {% render "account-faq" %}
    
  </div>
</div>

<script>
  $(".change-details").click(function() {
    var addressId = $(this).data("address-id");
  	$("#EditAddress_"+addressId).css('display','block');
  });
  
  $(".add-address").click(function() {
  	$("#AddAddress").css('display','block');
  });
  
  $("#cancelAdd").click(function() {
  	$("#AddAddress").css('display','none');
  });
  
  $(".edit_Address").click(function() {
  	var formId = $(this).data('form-id');
    $("#EditAddress_"+formId).css('display','block');
  });
  
  $(".delete_Address").click(function() {
  	var formId = $(this).data('form-id');
    Shopify.postLink('/account/addresses/'+formId, {'parameters': {'_method': 'delete'}});
  });
  
  $(".cancelEdit").click(function() {
  	var addressId = $(this).data('form-id');
    $("#EditAddress_"+addressId).css('display','none');
  });
</script>

<script>

  ///----- Auto-Close Accordion
  $(document).ready(function() {
    //--- initial state of elements
    $('.account-panel').hide()
    //----- click function
    $(".account-accordion").click(function() { //---- tabs or buttons
      //---- active class
      $(".account-accordion").removeClass('active');
      $('.account-panel').slideUp();
      var selected = $(this).next('.account-panel');
      if (selected.is(":hidden")) {
        $(this).next('.account-panel').slideDown();
        $(this).toggleClass('active');
      }
    });
  });

</script>
