{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="customer-wrapper">
  <div class="customer login">
    <h3 id="recover" tabindex="-1">
      {{ 'customer.recover_password.title' | t }}
    </h3>
    <div>
      <p>
        {{ 'customer.recover_password.subtext' | t }}
      </p>

      {%- form 'recover_customer_password' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field">
        <label for="RecoverEmail">
          {{ 'customer.login_page.email' | t }}
        </label>
        <input type="email"
               value=""
               name="email"
               id="RecoverEmail"
               autocorrect="off"
               autocapitalize="off"
               autocomplete="email"
               {% if form.errors %}
               aria-invalid="true"
               aria-describedby="RecoverEmail-email-error"
               autofocus
               {% endif %}
               placeholder="{{ 'customer.login_page.email' | t }}"
               >

      </div>
      {%- if form.errors -%}
      <small id="RecoverEmail-email-error" class="form__message">
        {{ form.errors.messages['form'] }}
      </small>
      {%- endif -%}

      <button>
        {{ 'customer.login_page.submit' | t }}
      </button>

      <a href="#login">
        {{ 'customer.login_page.cancel' | t }}
      </a>
      {%- endform -%}
    </div>

    <h2 id="login" tabindex="-1">
      {{ 'customer.login_page.title' | t }}
    </h2>
    <div>
      {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        {{ 'customer.recover_password.success' | t }}
      </h3>
      {%- endif -%}
      {%- form 'customer_login', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
        {{ 'templates.contact.form.error_heading' | t }}
      </h3>
      {{ form.errors | default_errors }}
      {%- endif -%}

      <div class="field">  
        <label for="CustomerEmail">
          email
        </label>
        <input
               type="email"
               name="customer[email]"
               id="CustomerEmail"
               autocomplete="email"
               autocorrect="off"
               autocapitalize="off"
               {% if form.errors contains 'form' %}
               aria-invalid="true"
               {% endif %}
               placeholder="Email"
               >

      </div>

      {%- if form.password_needed -%}
      <div class="field pwd-field rel">
        <label for="CustomerPassword">
          password
        </label>
        <input
               class="pwd-input"
               type="password"
               value=""
               name="customer[password]"
               id="CustomerPassword"
               autocomplete="current-password"
               {% if form.errors contains 'form' %}
               aria-invalid="true"
               {% endif %}
               placeholder="password"
               >
        <div class="show-pwd">show</div>
      </div>

      <a href="#recover">
        {{ 'customer.login_page.forgot_password' | t }}
      </a>
      {%- endif -%}

      <button>
        LOG IN
      </button>

      <a href="{{ routes.account_register_url }}">
        {{ 'customer.login_page.create_account' | t }}
      </a>

      {%- endform -%}
    </div>

    {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
      <button>
        {{ 'customer.login_page.guest_continue' | t }}
      </button>
      {%- endform -%}
    </div>
    {%- endif -%}
  </div>
</div>    

<script>

  $('.show-pwd').click(function(){
    if('password' == $('.pwd-input').attr('type')){
      $('.pwd-input').prop('type', 'text');
      $(this).text('hide');
    }else{
      $('.pwd-input').prop('type', 'password');
      $(this).text('show');
    }
  });

</script>