{{ 'jp-header.css' | asset_url | stylesheet_tag }}
{{ 'jp-b2b-header.css' | asset_url | stylesheet_tag }}

<div class="jp-header-wrapper jp-b2b-header-wrapper">
  <header class="topheader ovr-hidden">
    <div class="container">
      <div class="header-content justify-between align-center">
        <div class="header-left align-center">
          <div class="hamburger-menu">
          <div class="navbar-toggler">
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </div>
          </div>
          <div class="header-left-menu">
          {% for link in section.settings.left_menu.links %}
            <a href="{{ link.url }}" class="header-left-link">{{ link.title }}</a>
          {% endfor %}
            </div>
        </div>
        <div class="header-middle">
        	<a href="{{ routes.root_url }}" class="desktop-logo">
              <div class="desktop-logo-inner">{{ section.settings.logo_svg_desktop }}</div>
              <div class="desdktop-logo-txt">{{ section.settings.txt_below_logo }}</div>
          </a>
        </div>
        <div class="header-right">
          <a href="{{ section.settings.right_menu_btn_url }}" class="btn b2b-header-right-btn">{{ section.settings.right_menu_btn_txt }}</a>
          
        </div>
        <div class="header-right no-d"><div class="header-cart"><span class="cart-items-total medium">{{ cart.item_count }}</span></div></div>
      </div>
    </div>
    <div class="drawer-menu-b2b">
      <div class="drawer-menu-header rel">
        <div class="drawer-menu-close-btn light"><div class="left-chev">{% render 'icon-down-chev' %}</div><div class="back-txt">Back</div></div>
        <div class="drawer-menu-title">MENU</div>
      </div>
      <div class="drawer-menu-content">
        {% for link in section.settings.left_drawer_menu.links %}
            <a href="{{ link.url }}" class="header-drawer-link{% if forloop.first %} btn b2b-header-right-btn{% endif %}">{{ link.title }}</a>
          {% endfor %}
        
      </div>
    </div>
  </header>
</div>

<script>

  $(document).ready(function() {
    $('.panel').hide()
    $(".menu-link-wrap-mobile").find("div[role|='button']").click(function() {
      $(".menu-link-wrap-mobile").find("div[role|='button']").removeClass('active');
      $('.panel').slideUp();
      var selected = $(this).next('.panel');
      if (selected.is(":hidden")) {
        $(this).next('.panel').slideDown();
        $(this).toggleClass('active');
      }
    });
    
    
    $('.header-cart').click(function() {
      $('.drawer-cart').addClass('drawn');
      $('.background-drawer-cart').addClass('drawn');
      $('body').addClass('no-scroll');
      hideChatBtn();
    });

    $('.close-cart,.background-drawer-cart').click(function() {
      $('.drawer-cart').removeClass('drawn');
      $('.background-drawer-cart').removeClass('drawn');
      $('body').removeClass('no-scroll');
    });
    
  });

  $('.mobile-hamburger').click(function() {
    $('.drawer-menu').addClass('drawn');
    $('html').addClass('no-scroll');
    $('body').addClass('no-scroll');
    var mybutton = document.getElementById("to-top");
    mybutton.style.display = "none";
  });

  $('.close-menu-drawer-button').click(function() {
    $('.drawer-menu').removeClass('drawn');
    $('html').removeClass('no-scroll');
    $('body').removeClass('no-scroll');
    var mybutton = document.getElementById("to-top");
    mybutton.style.display = "flex";
  });

</script>

<script>    
       
  
  $(function() {

    var $window       = $(window);
    var lastScrollTop = 0;
    var $header       = $('.topheader');
    window.headerHeight  = 172.4;    

    $window.scroll(function() {
      var windowTop  = $window.scrollTop();

      if ( windowTop >= headerHeight ) {
        $header.addClass( 'active' );
        $('.header-menu-dropdown').addClass('less-top');
      } else {
        $header.removeClass( 'active' );
        $header.removeClass( 'active-show' );
        $('.header-menu-dropdown').removeClass('less-top');
      }

      if ( $header.hasClass( 'active' ) ) {

        if ( windowTop < lastScrollTop ) {
          $header.addClass( 'active-show' );
        } else {
          $header.removeClass( 'active-show' );
        }
      }
      lastScrollTop = windowTop;
    } );
  });
  
  $(window).on('resize', function(){  
    setIntervalX(function () {
      $('.jp-header-wrapper').css('height', 'auto');
      window.headerHeight = $('.jp-header-wrapper').height();
      $('.jp-header-wrapper').css('height', headerHeight+'px');
    }, 300, 5);
  });

  $(".menu-link-wrap").hover(function () {
    $('.topheader.active').toggleClass("ovr-hidden");
  });

    </script>

{% schema %}
  {
    "name": "JP B2B Header",
    "settings": [
		{
			"type": "text",
			"id": "logo_svg_desktop",
			"label": "Logo SVG Desktop"
		},
		{
			"type": "text",
			"id": "txt_below_logo",
			"label": "Text Below Logo"
		},
		{
			"type": "link_list",
			"id": "left_drawer_menu",
			"label": "Left Drawer Menu"
		},
		{
			"type": "link_list",
			"id": "left_menu",
			"label": "Left Menu"
		},
		{
			"type": "text",
			"id": "right_menu_btn_txt",
			"label": "Right Menu Button Text"
		},
		{
			"type": "url",
			"id": "right_menu_btn_url",
			"label": "Right Menu Button URL"
		}
	],
	"blocks": [
		{
			"type": "announcement",
			"name": "Announcement Text",
			"settings": [
				{
                    "type": "richtext",
                    "id": "announcement_text",
                    "label": "Announcement Text"
                },
                {
                    "type": "url",
                    "id": "announcement_url",
                    "label": "Announcement URL"
                }
			]
		}
	],
	"presets":[
      {
         "name":"JP B2B Header"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
