{{ 'jp-header.css' | asset_url | stylesheet_tag }}
{{ 'jp-b2b-header.css' | asset_url | stylesheet_tag }}

<div class="jp-header-wrapper jp-b2b-header-wrapper">
  <header class="topheader">
    <div class="container">
      <div class="header-content justify-between align-center">
        <div class="header-left align-center">
          <div class="hamburger-menu">
          <div class="navbar-toggler">
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </div>
          </div>
          <div class="header-left-menu no-t-m">
          {% for link in section.settings.left_menu.links %}
            <a href="{{ link.url }}" class="header-left-link">{{ link.title }}</a>
          {% endfor %}
            </div>
        </div>
        <div class="header-middle">
        	<a href="/pages/b2b-home" class="desktop-logo">
              <div class="desktop-logo-inner">{{ section.settings.logo_svg_desktop }}</div>
              <div class="desdktop-logo-txt">{{ section.settings.txt_below_logo }}</div>
          </a>
        </div>
        <div class="header-right">
          <div class="langs rel no-t-m">
              <a href="#" class="light"><span id="main-lang">{{ localization.language.iso_code | upcase }}</span> {% include 'icon-down-chev' %}</a>
              <ul class="header-sub-lang-list">
                <li id="lang-en"><a href="https://www.jeunepremier.com" class="light">EN</a></li>
                <li id="lang-it"><a href="https://www.jeunepremier.it" class="light">IT</a></li>
                <li id="lang-de"><a href="https://www.jeunepremier.de" class="light">DE</a></li>
                <li id="lang-nl"><a href="https://www.jeunepremier.be" class="light">NL</a></li>
                <li id="lang-fr"><a href="https://www.jeunepremier.fr" class="light">FR</a></li>
              </ul>
            </div>
          <a href="{{ section.settings.right_menu_btn_url }}" class="btn b2b-header-right-btn">{{ section.settings.right_menu_btn_txt }}</a>
          
        </div>
      </div>
    </div>
    <div class="drawer-menu-b2b">
      <div class="drawer-menu-header rel">
        <div class="drawer-menu-close-btn light"><div class="back-txt">Back</div></div>
        <div class="drawer-menu-title">MENU</div>
      </div>
      <div class="drawer-menu-content">
        {% for link in section.settings.left_drawer_menu.links %}
            <a href="{{ link.url }}" class="header-drawer-link{% if forloop.first %} btn b2b-header-right-btn{% endif %}">{{ link.title }}</a>
          {% endfor %}
        <div class="no-d">
        	{% for link in section.settings.left_menu.links %}
            <a href="{{ link.url }}" class="header-left-link">{{ link.title }}</a>
          {% endfor %}
          <div class="langs rel">
            <a href="https://www.jeunepremier.com" class="light">EN</a>
            <a href="https://www.jeunepremier.it" class="light">IT</a>
            <a href="https://www.jeunepremier.de" class="light">DE</a>
            <a href="https://www.jeunepremier.be" class="light">NL</a>
            <a href="https://www.jeunepremier.fr" class="light">FR</a>
          </div>
        </div>
        
      </div>
    </div>
  </header>
</div>

<script>

  $('.jp-b2b-header-wrapper .hamburger-menu').click(function() {
  	$('.drawer-menu-b2b').addClass('drawn');
    $('html').addClass('no-scroll');
    $('body').addClass('no-scroll');
    console.log('draw');
  });
  
  $('.drawer-menu-close-btn').click(function() {
  	$('.drawer-menu-b2b').removeClass('drawn');
    $('html').removeClass('no-scroll');
    $('body').removeClass('no-scroll');
    console.log('remove-draw');
  });

  
  $(document).ready(function() {
  
    var full = window.location.host;
    var parts = full.split('.');
    var subDomain = parts[2];
    if(subDomain == 'be') {
      $('#main-lang').text('NL');
      $('#lang-nl').remove();
      console.log('Lang nl');
      window.lang = "nl";
    } 
    else if(subDomain == 'fr') {
      $('#main-lang').text('FR');
      $('#lang-fr').remove();
      console.log('Lang FR');
      window.lang = "fr";
      $('.header-upper-menu').css("width","auto");
    }
    else if(subDomain == 'de') {
      $('#main-lang').text('DE');
      $('#lang-de').remove();
      console.log('Lang DE');
      window.lang = "de";
    }
    else if(subDomain == 'it') {
      $('#main-lang').text('IT');
      $('#lang-it').remove();
      console.log('Lang IT');
      window.lang = "it";
    }
    else {
      $('#main-lang').text('EN');
      $('#lang-en').remove();
      console.log('Lang EN');
      window.lang = "en";
    }
    
  });

</script>

<script>    
       
  
  $(function() {

    var $window       = $(window);
    var lastScrollTop = 0;
    var $header       = $('.topheader');
    window.headerHeight  = 172.4;    

    $window.scroll(function() {
      var windowTop  = $window.scrollTop();

      if ( windowTop >= headerHeight ) {
        $header.addClass( 'active' );
        $('.header-menu-dropdown').addClass('less-top');
      } else {
        $header.removeClass( 'active' );
        $header.removeClass( 'active-show' );
        $('.header-menu-dropdown').removeClass('less-top');
      }

      if ( $header.hasClass( 'active' ) ) {

        if ( windowTop < lastScrollTop ) {
          $header.addClass( 'active-show' );
        } else {
          $header.removeClass( 'active-show' );
        }
      }
      lastScrollTop = windowTop;
    } );
  });
  
  $(window).on('resize', function(){  
    setIntervalX(function () {
      $('.jp-header-wrapper').css('height', 'auto');
      window.headerHeight = $('.jp-header-wrapper').height();
      $('.jp-header-wrapper').css('height', headerHeight+'px');
    }, 300, 5);
  });

  $(".menu-link-wrap").hover(function () {
    $('.topheader.active').toggleClass("ovr-hidden");
  });

    </script>

{% schema %}
  {
    "name": "JP B2B Header",
    "settings": [
		{
			"type": "text",
			"id": "logo_svg_desktop",
			"label": "Logo SVG Desktop"
		},
		{
			"type": "text",
			"id": "txt_below_logo",
			"label": "Text Below Logo"
		},
		{
			"type": "link_list",
			"id": "left_drawer_menu",
			"label": "Left Drawer Menu"
		},
		{
			"type": "link_list",
			"id": "left_menu",
			"label": "Left Menu"
		},
		{
			"type": "text",
			"id": "right_menu_btn_txt",
			"label": "Right Menu Button Text"
		},
		{
			"type": "url",
			"id": "right_menu_btn_url",
			"label": "Right Menu Button URL"
		}
	],
	"blocks": [
		{
			"type": "announcement",
			"name": "Announcement Text",
			"settings": [
				{
                    "type": "richtext",
                    "id": "announcement_text",
                    "label": "Announcement Text"
                },
                {
                    "type": "url",
                    "id": "announcement_url",
                    "label": "Announcement URL"
                }
			]
		}
	],
	"presets":[
      {
         "name":"JP B2B Header"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
