{%- unless request.path contains 'fr-fr' or request.path contains 'fr' -%}
{{ 'jp-sizechart.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .left-col-1-be div:nth-child(3) {
    height: 224px;
    background-color: #e8dfcf;
  }
  .left-col-1-be div:nth-child(2) {
    height: 96px;
  }

  .color1 {
    background: transparent;
  }
  .color2 {
    background: #f9f7f3;
  }
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}
<div class="jp_sizechart section-{{ section.id }}-padding">
  {%- if section.settings.maten_in_cm != blank -%}
    <div class="jp_size_chart_bottom_txt">
      <span>{{- section.settings.maten_in_cm -}}</span>
    </div>
  {%- endif -%}
  {%- if section.settings.heading != blank -%}
    <div class="jp_sizechart_head">
      <h2 class="h2_hero_heading title">{{- section.settings.heading -}}</h2>
    </div>
  {%- endif -%}
  <div class="jp_table_wrapper">
    <div class="left-table">
      <div class="fixed-element">
        <div class="left-col-1 left-col-1-be">
          <div class="row_1">{{- section.settings.first_column_heading -}}</div>
          <div class="row_2">{{- section.settings.first_column_2nd_cel -}}</div>
          <div class="row_3">{{- section.settings.first_column_3rd_cell -}}</div>
        </div>
        <div class="left-col-2 left-col-2-be">
          <div class="row_1">
            {{- section.settings.second_column_heading -}}
          </div>
          {%- assign second_col_arr = section.settings.second_column_cell_entries | split: ',' -%}
          {%- for second_value in second_col_arr -%}
            <div class="row-col-{{ forloop.index }} row_common color2">{{ second_value | escape }}</div>
          {%- endfor -%}
        </div>
        {%- if section.settings.third_column_heading != blank -%}
          <div class="left-col-3">
            <div class="row_1">{{- section.settings.third_column_heading -}}</div>
            {%- assign third_col_arr = section.settings.third_column_cell_entries | split: ',' -%}
            {%- for third_value in third_col_arr -%}
              <div class="row-col-{{ forloop.index }} row_common">{{ third_value | escape }}</div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>

    <div class="right-table">
      <div class="col-wrapper slider-be">
        {%- for block in section.blocks -%}
          <div
            class="col-1 {% if block.settings.background_color == 'color1' %}color1{% else %}color2{% endif %}"
            {{ block.shopify_attributes }}
          >
            <div class="left-rtc-1">
              <div class="image_wrap">
                {%- if block.settings.product_image != blank -%}
                  {{
                    block.settings.product_image
                    | image_url: width: 200
                    | image_tag: loading: 'lazy', widths: '165, 360, 535, 750, 1070, 1500'
                  }}
                {%- else -%}
                  {{ 'product-1' | placeholder_svg_tag: 'jp_sizechart_placeholder' }}
                {%- endif -%}
              </div>
              <span>{{- block.settings.product_name -}}</span>
            </div>
            <div class="left-rtc-2 right-cell">
              {%- if block.settings.first_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-3 right-cell">
              {%- if block.settings.second_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-4 right-cell">
              {%- if block.settings.third_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-5 right-cell">
              {%- if block.settings.fourth_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-6 right-cell">
              {%- if block.settings.fifth_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-7 right-cell">
              {%- if block.settings.sixth_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-8 right-cell">
              {%- if block.settings.seventh_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-9 right-cell">
              {%- if block.settings.eighth_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-10 right-cell">
              {%- if block.settings.ninth_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
            <div class="left-rtc-11 right-cell">
              {%- if block.settings.tenth_cell == true -%}
                <img src="{{ 'sizechart_checkmark.png' | asset_url }}" alt="checkmark" loading="lazy">
              {%- else -%}
                -
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>

  {% comment %} Slick Dots and Arrows {% endcomment %}
  <div class="slider_arrow_dots">
    <div class="slider_prev">
      <span class="slider_prev_arrow prev prev-be">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.828"
          height="10.414"
          viewBox="0 0 18.828 10.414"
        >
          <path
            id="Pijltje_onder"
            data-name="Pijltje onder"
            d="M7431,3152l8,8,4.666-4.667L7447,3152"
            transform="translate(-7429.585 -3150.585)"
            fill="none"
            stroke="#333333"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </span>
    </div>
    <div class="slick-slider-dots slick-slider-dots-be"></div>
    <div class="slider_next">
      <span class="slider_next_arrow next next-be">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.828"
          height="10.414"
          viewBox="0 0 18.828 10.414"
        >
          <path
            id="Pijltje_onder"
            data-name="Pijltje onder"
            d="M7431,3152l8,8,4.666-4.667L7447,3152"
            transform="translate(-7429.585 -3150.585)"
            fill="none"
            stroke="#333333"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </span>
    </div>
  </div>
</div>

<script>
  $(function () {
    function JpSizeChartBe() {
      $('.slider-be').slick({
        dots: true,
        slidesToShow: 5.5,
        slidesToScroll: 1,
        autoplay: false,
        infinite: false,
        arrows: true,
        variableWidth: false,
        appendDots: $('.slick-slider-dots-be'),
        prevArrow: $('.prev-be'),
        nextArrow: $('.next-be'),
        responsive: [
          {
            breakpoint: 1299,
            settings: {
              slidesToShow: 4,
            },
          },
          {
            breakpoint: 1025,
            settings: {
              slidesToShow: 3,
            },
          },
          {
            breakpoint: 568,
            settings: {
              variableWidth: true,
              slidesToShow: 1.1,
            },
          },
        ],
      });
    }
    JpSizeChartBe();

    if (Shopify.designMode) {
      document.addEventListener('shopify:section:load', () => {
        JpSizeChartBe();
      });
    }
  });
</script>
{%- endunless -%}
{% schema %}
{
  "name": "JP be sizechart",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Heading Settings"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Welcher Rucksack ist der richtige für mein Kind?",
      "info": "Section Heading goes Here",
      "placeholder": "Welcher Rucksack ist der richtige für mein Kind?"
    },
    {
      "type": "text",
      "label": "*Maten in cm",
      "id": "maten_in_cm",
      "default": "*Maten in cm",
      "placeholder": "*Maten in cm"
    },
    {
      "type": "header",
      "content": "First Column"
    },
    {
      "type": "text",
      "label": "1st Column Heading",
      "id": "first_column_heading",
      "default": "SCHOOL",
      "placeholder": "SCHOOL"
    },
    {
      "type": "text",
      "label": "1st Column 2nd cell",
      "id": "first_column_2nd_cel",
      "default": "Kleuterschool",
      "placeholder": "Kleuterschool"
    },
    {
      "type": "text",
      "label": "1st Column 3rd cell",
      "id": "first_column_3rd_cell",
      "default": "Lagere school",
      "placeholder": "Lagere school"
    },
    {
      "type": "header",
      "content": "Second Column"
    },
    {
      "type": "text",
      "label": "2nd Column Heading",
      "id": "second_column_heading",
      "default": "LEEFTIJD",
      "placeholder": "LEEFTIJD"
    },
    {
      "type": "textarea",
      "label": "2nd Column Cell Entries",
      "id": "second_column_cell_entries",
      "default": "2-3,4,5-6,6,7,8,9,10,11,12",
      "info": "Enter values and separate it with comma. \nCompulsory to use 10 entries.\nExample: 2-3,4,5-6,6,7,8,9,10,11,12",
      "placeholder": "2-3,4,5-6,6,7,8,9,10,11,12"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product_grid",
      "name": "product grid",
      "settings": [
        {
          "type": "header",
          "content": "Product Grid Settings"
        },
        {
          "type": "select",
          "label": "Background Color",
          "id": "background_color",
          "default": "color1",
          "options": [
            {
              "label": "color 1",
              "value": "color1"
            },
            {
              "label": "color2",
              "value": "color2"
            }
          ]
        },
        {
          "type": "image_picker",
          "label": "Product Image",
          "id": "product_image",
          "info": "you can upload svg files also"
        },
        {
          "type": "text",
          "label": "Product Name",
          "id": "product_name",
          "default": "It Bag Mini",
          "placeholder": "It Bag Mini"
        },
        {
          "type": "checkbox",
          "label": "1st Cell",
          "id": "first_cell",
          "default": true,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "2nd Cell",
          "id": "second_cell",
          "default": true,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "3rd Cell",
          "id": "third_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "4th Cell",
          "id": "fourth_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "5th Cell",
          "id": "fifth_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "6th Cell",
          "id": "sixth_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "7th Cell",
          "id": "seventh_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "8th Cell",
          "id": "eighth_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "9th Cell",
          "id": "ninth_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        },
        {
          "type": "checkbox",
          "label": "10th Cell",
          "id": "tenth_cell",
          "default": false,
          "info": "To hide the checkmark, please uncheck the box."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "JP be sizechart",
      "blocks": [
        {
          "type": "product_grid"
        },
        {
          "type": "product_grid"
        },
        {
          "type": "product_grid"
        },
        {
          "type": "product_grid"
        },
        {
          "type": "product_grid"
        },
        {
          "type": "product_grid"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
