{{ 'jp-hero.css' | asset_url | stylesheet_tag }}
{{ 'jp-b2b-hero.css' | asset_url | stylesheet_tag }}

<div class="jp-b2b-hero-wrap">
<div class="hero" style="{% if section.settings.image %}background-image: url({{ section.settings.image | img_url: "2000x" }}){% else %}background: #375D54{% endif %}">
  <div class="container flex-box">
    <div class="hero-txt-container">
      <h1 class="title b2b-hero-title">{{ section.settings.heading }}</h1>
      <div class="subtitle">{{ section.settings.subtitle }}</div>
      <a class="btn b2b-hero-btn" href="{{ section.settings.link }}">{{ section.settings.headinglinktext }}</a>
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "JP B2B Hero",
    "settings": [
	  {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
      {
        "type": "html",
        "id": "heading",
        "label": "Heading",
		"default": "WELCOME TO OUR JEUNE PREMIER B2B PLATFORM"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Heading Button Link"
      },
      {
        "type": "text",
        "id": "headinglinktext",
        "label": "Heading Button Text"
      }
	],
   "presets":[
      {
         "name":"JP B2B Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
