{{ 'jp-hero.css' | asset_url | stylesheet_tag }}
{{ 'jp-seen-on.css' | asset_url | stylesheet_tag }}
{{ 'jp-b2b-hero.css' | asset_url | stylesheet_tag }}

<div class="jp-b2b-hero-wrap">
<div class="hero" style="{% if section.settings.image %}background-image: url({{ section.settings.image | img_url: "2000x" }}){% else %}background: #375D54{% endif %}">
  <div class="container flex-box">
    <div class="hero-txt-container">
      <h1 class="title b2b-hero-title">{{ section.settings.heading }}</h1>
      <div class="subtitle light">{{ section.settings.subtitle }}</div>
      <a class="btn b2b-hero-btn title" href="{{ section.settings.link }}">{{ section.settings.headinglinktext }}</a>
    </div>
  </div>
</div>
  
  <div class="seen-on-wrapper">
  <div class="seen-on-title title text-center">{{ section.settings.title }}</div>
  <div class="marquee" style="height: {{ section.settings.marquee_height }}px">
    <div class="marquee-wrap featured-banner__wrapper" id="maindiv">
      <span class="marquee-items featured-banner__container" id="div1">
      
        {% for block in section.blocks %}
        	{% if block.type == 'marquee' %}
        		{% if block.settings.img_1 != blank %}
        			<div class="marquee-item marquee-txt light featured-banner__item" style="width: {{ section.settings.marquee_item_width }}px; height: {{ section.settings.marquee_height }}px">
                {{
                  block.settings.img_1
                  | image_url: width: 200
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '50 , 100 , 150 , 200',
                    class: 'marquee-img'
                }}
        			</div>
        		{% endif %}
        		{% if block.settings.img_2 != blank %}
        			<div class="marquee-item marquee-txt light featured-banner__item" style="width: {{ section.settings.marquee_item_width }}px; height: {{ section.settings.marquee_height }}px">
                {{
                  block.settings.img_2
                  | image_url: width: 200
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '50 , 100 , 150 , 200',
                    class: 'marquee-img'
                }}
        			</div>
        		{% endif %}
        		{% if block.settings.img_3 != blank %}
        			<div class="marquee-item marquee-txt light featured-banner__item" style="width: {{ section.settings.marquee_item_width }}px; height: {{ section.settings.marquee_height }}px">
                {{
                  block.settings.img_3
                  | image_url: width: 200
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '50 , 100 , 150 , 200',
                    class: 'marquee-img'
                }}
        			</div>
        		{% endif %}
        	{% endif %}
        {% endfor %}
      </span>
      <span class="marquee-items featured-banner__container" id="div2">
        {% for block in section.blocks %}
        	{% if block.type == 'marquee' %}
        		{% if block.settings.img_1 != blank %}
        			<div class="marquee-item marquee-txt light featured-banner__item" style="width: {{ section.settings.marquee_item_width }}px; height: {{ section.settings.marquee_height }}px">
                {{
                  block.settings.img_1
                  | image_url: width: 200
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '50 , 100 , 150 , 200',
                    class: 'marquee-img'
                }}
        			</div>
        		{% endif %}
        		{% if block.settings.img_2 != blank %}
        			<div class="marquee-item marquee-txt light featured-banner__item" style="width: {{ section.settings.marquee_item_width }}px; height: {{ section.settings.marquee_height }}px">
                {{
                  block.settings.img_2
                  | image_url: width: 200
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '50 , 100 , 150 , 200',
                    class: 'marquee-img'
                }}
        			</div>
        		{% endif %}
        		{% if block.settings.img_3 != blank %}
        			<div class="marquee-item marquee-txt light featured-banner__item" style="width: {{ section.settings.marquee_item_width }}px; height: {{ section.settings.marquee_height }}px">
                {{
                  block.settings.img_3
                  | image_url: width: 200
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '50 , 100 , 150 , 200',
                    class: 'marquee-img'
                }}
        			</div>
        		{% endif %}
        	{% endif %}
        {% endfor %}
      </span>
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "JP B2B Hero",
    "settings": [
	  {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
      {
        "type": "html",
        "id": "heading",
        "label": "Heading",
		"default": "WELCOME TO OUR JEUNE PREMIER B2B PLATFORM"
      },
		{
			"type": "text",
			"id": "subtitle",
			"label": "Sub Heading"
		},
      {
        "type": "url",
        "id": "link",
        "label": "Heading Button Link"
      },
      {
        "type": "text",
        "id": "headinglinktext",
        "label": "Heading Button Text"
      },
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
          "type": "range",
          "id": "marquee_height",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Slider Height",
          "default": 28
        },
		{
          "type": "range",
          "id": "marquee_item_width",
          "min": 100,
          "max": 500,
          "step": 20,
          "unit": "px",
          "label": "Slider Height",
          "default": 280
        }
	],
	"blocks": [
		{
			"type": "marquee",
			"name": "Marquee Logo",
			"settings": [
				{
					"type": "image_picker",
					"id": "img_1",
					"label": "Logo Image 1"
				},
				{
					"type": "image_picker",
					"id": "img_2",
					"label": "Logo Image 2"
				},
				{
					"type": "image_picker",
					"id": "img_3",
					"label": "Logo Image 3"
				}
			]
		}
	],
   "presets":[
      {
         "name":"JP B2B Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
