{{ 'jp-faq.css' | asset_url | stylesheet_tag }}

<div class="faq-wrapper">
  <div class="container">
    <div class="faq-content">
      <div class="faq-title title text-center">{{ section.settings.title }}</div>
      <div class="faq-wrap">
        {% for block in section.blocks %}
        {% if block.type == 'faq' %}
        	<div class="faq-qa-wrap">
              <div class="faq-question-wrap accordion flex-box justify-between" role="button">
                <div class="faq-question medium">{{ block.settings.question }}</div>
                <div class="down-chev">{% include 'icon-black-down-chev' %}</div>
              </div>
              <div class="faq-answer panel light">
              	{{ block.settings.answer }}
              </div>
        	</div>
        {% endif %}
        {% endfor %}
      </div>
      <a href="{{ section.settings.link }}" class="faq-link medium">{{ section.settings.link_text }}</a>
    </div>
  </div>
</div>


<script>

	///----- Auto-Close Accordion
$(document).ready(function() {
  //--- initial state of elements
  $('.panel').hide()
    //----- click function
  $(".faq-wrap").find("div[role|='button']").click(function() { //---- tabs or buttons
    //---- active class
    $(".faq-wrap").find("div[role|='button']").removeClass('active');
    $('.panel').slideUp();
    var selected = $(this).next('.panel');
    if (selected.is(":hidden")) {
      $(this).next('.panel').slideDown();
      $(this).toggleClass('active');
    }
  });
});
  
</script>

{% schema %}
  {
    "name": "JP FAQ",
    "settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "link_text",
			"label": "Link Text"
		},
		{
			"type": "url",
			"id": "link",
			"label": "Link URL"
		}
	],
	"blocks": [
		{
			"type": "faq",
			"name": "FAQ QA",
			"settings": [
				{
					"type": "text",
					"id": "question",
					"label": "Question"
				},
				{
					"type": "html",
					"id": "answer",
					"label": "Answer"
				}
			]
		}
	],
	"presets":[
      {
         "name":"JP FAQ"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
