{{ 'jp-header.css' | asset_url | stylesheet_tag }}
{{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}

<div class="jp-header-wrapper">
  <div class="announcement-bar">
    {% for block in section.blocks %}
      {% if block.type == 'announcement' %}
        {% if block.settings.announcement_url == blank %}
          {{ block.settings.announcement_text }}
        {% else %}
          <a href="{{ block.settings.announcement_url }}" class="announcement-text text-center medium">
            {{- block.settings.announcement_text -}}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <header class="topheader ovr-hidden">
    <div class="container">
      <div class="header-content justify-between">
        <div class="mobile-hamburger no-d">
          <div class="navbar-toggler">
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </div>
        </div>

        <div class="header-right no-t-m">
          <div class="header-upper-menu new-left-menu align-center">
            {% for link in section.settings.upper_menu.links %}
              <a
                href="{{ link.url }}"
                class="{% if forloop.index > 1 %}ml-32{% endif %} light upper-menu-link {% if request.path == link.url %}underline{% endif %}"
              >
                {{- link.title | escape -}}
              </a>
            {% endfor %}
          </div>
        </div>

        <div class="header-left">
          <a href="{{ routes.root_url }}" class="desktop-logo no-t-m">{{ section.settings.logo_svg_desktop }}</a>
          <a href="{{ routes.root_url }}" class="mobile-logo no-d">{{ section.settings.logo_svg_mobile }}</a>
        </div>

        <div class="flex-box align-center mobile_icons no-d">

          <div style="margin-right:16px;" class="custom-search-wrap">
            <span>{% render 'icon-search' %}</span>
          </div>
        
          <div class="shopping-bag">
            {% include 'shopping-bag' %}
            <div class="header-cart" id="draw_cart">
              <span class="cart-items-total medium">{{ cart.item_count }}</span>
            </div>
          </div>
        </div>

        <div class="header-right no-t-m">
          <div class="header-upper-menu new-right-menu justify-between align-start">
            <div class="custom-search-wrap">
              <span>{% render 'icon-search' %}</span>
            </div>

            <div class="langs rel">
              <span class="flag flag-{{ localization.country.iso_code | downcase }}"></span>
              <span class="header-country-code">{{ localization.country.iso_code }}</span>
            </div>

            <div class="account_login">
              <a
                href="/account"
                class="light upper-menu-link"
              >
                Log in
              </a>
            </div>

            <div class="shopping-bag">
              {% include 'shopping-bag' %}
              <div class="header-cart" id="draw_cart">
                <span class="cart-items-total medium">{{ cart.item_count }}</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="header-lower-menu justify-center no-t-m">
        {% for link in section.settings.lower_menu.links %}
          <div class="menu-link-wrap">
            {% assign current = false %}
            {%- for childlink in link.links -%}
              {% if childlink.url == request.path %}
                {% assign current = true %}
              {% endif %}
            {%- endfor -%}
            <span
              class="medium lower-menu-link {% if current or request.path == link.url %}underline{% endif %}"
            >
              {{- link.title | escape -}}
            </span>
            <div class="header-menu-dropdown">
              <div class="container">
                <div class="header-menu-dropdown-wrap flex-box justify-between">
                  <div class="header-menu-dropdown-left-wrap">
                    {%- for childlink in link.links -%}
                      {% assign childrandomObj = childlink.object %}
                      {% assign child_coll__image = childrandomObj.featured_image %}

                      {% if child_coll__image != blank %}
                        {%- assign child_main_coll__image = child_coll__image | image_url: width: 1000 -%}
                      {% else %}
                        {% assign child_main_coll__image = section.settings.mega_menu_image.src
                          | image_url: width: 1000
                        %}
                      {% endif %}

                      <ul class="navigation_block menu-{{ forloop.index }}" data-childlink="{{ childrandomObj }}">
                        <li
                          class="child-heading"
                          data-image-id="image-{{ forloop.index }}"
                          data-hoverimage="{{ child_main_coll__image }}"
                        >
                          {{ childlink.title }}
                        </li>
                        {% for grandchild in childlink.links %}
                          {% assign randomObj = grandchild.object %}

                          {% assign img = randomObj.featured_image %}

                          {% if img != blank %}
                            {%- assign img = img | image_url: width: 1000 -%}
                          {% else %}
                            {% assign img = section.settings.mega_menu_image.src | image_url: width: 1000 %}
                          {% endif %}

                          <li
                            class="grandchild-heading align-center {% if childlink.title == "DESIGN" or childlink.title == "design" %}mb-16{% endif %}{% if grandchild.title contains 'Alle' or grandchild.title contains "All" %} bold{% endif %}"
                            data-grandchildlink="{{randomObj}}"
                            data-image-id="image-{{ forloop.index }}"
                            data-hoverimage="{{ img }}"
                          >
                            {% if childlink.title == 'DESIGN' or childlink.title == 'design' -%}
                              {%- render 'icon-jp-cherries' -%}
                            {%- endif -%}
                            <span class="grandtitle">{{ grandchild.title }}</span>{% render 'icon-caret' %}
                          </li>
                        {% endfor %}
                      </ul>
                    {%- endfor -%}
                  </div>

                  <div class="header-menu-dropdown-right-wrap">
                    <div class="coll-image rel">
                      <img
                        class="header-dropdown-image no-disp"
                        src="{{ section.settings.mega_menu_image.src | image_url: width: 1000 }}"
                        loading="lazy"
                        width="{{ image.width }}"
                        height="{{ image.height }}"
                      >
                      <img
                        class="header-dropdown-image placeholder"
                        src="{{ section.settings.mega_menu_image.src | image_url: width: 1000 }}"
                        loading="lazy"
                        width="{{ image.width }}"
                        height="{{ image.height }}"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </header>

  <predictive-search class="jp-custom-search search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
      <div class="field">
        <input
          class="search__input field__input"
          id="Search-In-Modal-1"
          type="search"
          name="q"
          value=""
          placeholder="{{ 'general.search.search' | t }}"
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results-list"
          aria-controls="predictive-search-results-list"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        >
        <input type="hidden" name="options[prefix]" value="last">
        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
          {% render 'icon-search' %}
        </button>
      </div>
      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
        <div class="predictive-search__loading-state">
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="spinner"
            viewBox="0 0 66 66"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </div>
      <span class="predictive-search-status visually-hidden no-disp" role="status" aria-hidden="true"></span>
    </form>
  </predictive-search>
</div>

<script>
  $(document).ready(function () {
    $('.panel').hide();
    $('.menu-link-wrap-mobile')
      .find("div[role|='button']")
      .click(function () {
        $('.menu-link-wrap-mobile').find("div[role|='button']").removeClass('active');
        $('.panel').slideUp();
        var selected = $(this).next('.panel');
        if (selected.is(':hidden')) {
          $(this).next('.panel').slideDown();
          $(this).toggleClass('active');
        }
      });

    $('.header-cart , .shopping-bag').click(function () {
      $('.drawer-cart').addClass('drawn');
      $('.background-drawer-cart').addClass('drawn');
      $('body').addClass('no-scroll');
      hideChatBtn();
    });

    $('.close-cart,.background-drawer-cart').click(function () {
      $('.drawer-cart').removeClass('drawn');
      $('.background-drawer-cart').removeClass('drawn');
      $('body').removeClass('no-scroll');
    });
  });

  $('.mobile-hamburger').click(function () {
    $('.drawer-menu').addClass('drawn');
    $('html').addClass('no-scroll');
    $('body').addClass('no-scroll');
    var mybutton = document.getElementById('to-top');
    mybutton.style.display = 'none';
  });

  $('.close-menu-drawer-button').click(function () {
    $('.drawer-menu').removeClass('drawn');
    $('html').removeClass('no-scroll');
    $('body').removeClass('no-scroll');
    var mybutton = document.getElementById('to-top');
    mybutton.style.display = 'flex';
  });
</script>

<script>
  $(window).on('resize', function () {
    setIntervalX(
      function () {
        $('.jp-header-wrapper').css('height', 'auto');
        window.headerHeight = $('.jp-header-wrapper').height();
        $('.jp-header-wrapper').css('height', headerHeight + 'px');
      },
      300,
      5
    );
  });

  $('.menu-link-wrap').hover(function () {
    $('.topheader.active').toggleClass('ovr-hidden');
  });

  $('.langs').hover(function () {
    $('.topheader').toggleClass('ovr-hidden');
  });
</script>

<script>
  $('.child-heading , .grandchild-heading').hover(
    function () {
      if ($(this).data('hoverimage') != null) {
        var placeholder = $(this).closest('.header-menu-dropdown-wrap').find('.header-dropdown-image.placeholder');
        placeholder.attr('src', $(this).data('hoverimage'));
        placeholder.addClass('active');
      }
    },
    function () {
      if ($(this).data('hoverimage') != null) {
        var placeholder = $(this).closest('.header-menu-dropdown-wrap').find('.header-dropdown-image.placeholder');
        placeholder.removeClass('active');
      }
    }
  );

  $('.mega-menu').hover(
    function () {
      //run on mouse hover
      $('.header-wrapper').addClass('header-hover');
    },
    function () {
      //run when not hovered/cursor removed
      $('.header-wrapper').removeClass('header-hover');
    }
  );
</script>

{% schema %}
{
  "name": "JP Header new",
  "settings": [
    {
      "type": "text",
      "id": "logo_svg_desktop",
      "label": "Logo SVG Desktop"
    },
    {
      "type": "text",
      "id": "logo_svg_mobile",
      "label": "Logo SVG Mobile"
    },
    {
      "type": "link_list",
      "id": "upper_menu",
      "label": "Upper Menu"
    },
    {
      "type": "link_list",
      "id": "lower_menu",
      "label": "Lower Menu"
    },
    {
      "type": "image_picker",
      "id": "mega_menu_image",
      "label": "Mega menu image",
      "info": "This image will be displayed if any of the collection image is blank inside the mega menu"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement Text",
      "settings": [
        {
          "type": "richtext",
          "id": "announcement_text",
          "label": "Announcement Text"
        },
        {
          "type": "url",
          "id": "announcement_url",
          "label": "Announcement URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "JP Header new"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
