{{ 'jp-instagram.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 993px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% comment %}
data-hover-text=""
data-shop-button-text=""
data-review-ids=""
data-product-ids=""
data-product-category=""
data-product-brand=""
data-tags=""
data-limit-words=""
data-fill-empty="false"
data-random="false"
data-with-photos="false"
data-element-id="3"
data-lang="en"
data-loaded-page="1"
data-total=""
data-height=""
data-auto-play="false"
data-auto-play-speed=""
data-style-color-hover=""
data-style-color-hover-opacity=""

{% endcomment %}

<div class="instagram-wrap section-{{ section.id }}-padding" style="background-color : {{ section.settings.custom_review_bg }}">
  <div class="container">
    <div class="insta-title title text-center">{{ 'products.product.our_products_on_instagram' | t }}</div>
    <div class="insta-imgs">
      {% comment %}
    	{% for block in section.blocks %}
      		{% if block.type == 'insta_img' %}
      		{% assign fl = forloop.index %}
      			<div class="insta-img insta-img-{{ fl }}">
                  <a href="{{ block.settings.insta_url }}" class="insta-link-img" target="_blank">
                    {% assign width = block.settings.in_img.width %}
                    {% assign height = block.settings.in_img.height %}
                    {% if height < width %}
                    {% assign imgw = height %}
                    {% else %}
                    {% assign imgw = width %}
                    {% endif %}
                  	<img src="{{ block.settings.in_img | image_url: height: imgw }}" loadig="lazy" alt={% if block.settings.in_img.alt != '' %}{{ block.settings.in_img.alt }}{% else %}"Instagram Image"{% endif %}>
                  </a>
      			</div>
      		{% endif %}
        {% endfor %}
      {% endcomment %}

      <div class="{% if section.settings.get_carousel_widget %}instagram-carousel{% else %}image-gallery{% endif %}">
          <div id="stamped-reviews-widget" 
              data-widget-type="instagram-feed" 
              data-feed-type="{% if section.settings.get_carousel_widget %}carousel{% endif %}" 
              data-with-photos="true" 
              data-take="{{ section.settings.instagram_posts }}"
        ></div>
        </div>
        
    <a href="{{ section.settings.link_url }}" class="insta-link medium {% if section.settings.get_carousel_widget %}increase-height{% endif %}" target="_blank">{{ section.settings.link_txt }}</a>
  </div>
</div>
</div>

<script>
  $(document).ready(function(){
       setTimeout(function(){check_shop()}, 5000);
       setTimeout(function(){check_shop()}, 10000);
    function check_shop(){
      var stamped_widget_total = $("#stamped-reviews-widget").data("total");
        // console.log(stamped_widget_total);

        if (stamped_widget_total == 0){
          var insta_wrap = $("#stamped-reviews-widget").parent().parent().parent().attr('class');
          $(`.${insta_wrap}`).css("display" , "none");
          $(".faq-wrapper-blank").css("margin-bottom" , "0px");
        }
    }

  });

    $(document).ready(function(){
       setTimeout(function(){
        var stamped_widget_count = $("#to-reviews .stamped-container").data("count");
        // console.log(stamped_widget_count);

        if (stamped_widget_count == 0){
          // $("#to-reviews .stamped-container .stamped-content").css("display", "none");
          $("#to-reviews .stamped-container .stamped-summary .summary-overview").css("display", "none");
          
        }
      }, 5000);
  
  });
  
</script>

{% schema %}
  {
    "name": "JP Instagram",
	"class": "insta-stamped",
    "settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "link_txt",
			"label": "Link Text"
		},
		{
			"type": "url",
			"id": "link_url",
			"label": "link URL"
		},
    {
      "type": "color",
      "id": "custom_review_bg",
      "label": "Background color",
      "default" : "#F9F7F3"
    },
    {
      "type": "header",
      "content": "Instagram setting"
    },
    {
      "type": "checkbox",
      "id": "get_carousel_widget",
      "label": "Enable Instagram Carousel",
      "default" : false
    },
    {
      "type": "range",
      "id": "instagram_posts",
      "min": 1,
      "max": 30,
      "step": 1,
      "label": "Instagram posts to show",
      "default": 8
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
	],
	"blocks": [
		{
			"type": "insta_img",
			"name": "Instagram Image",
			"limit": 5,
			"settings": [
				{
                  "type": "image_picker",
                  "id": "in_img",
                  "label": "Image"
                },
				{
					"type": "url",
					"id": "insta_url",
					"label": "Image Link URL"
				}
			]
		}
	],
	"presets":[
      {
         "name":"JP Instagram"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
