{% unless list_id %}
  {% assign list_id = 'Yvx9Gs' %}
{% endunless %}
{% if request.host contains 'jeune-premier.ru' %}
  {% assign list_id = 'XCJXhx' %}
{% endif %}

{% unless button_text %}
  {% assign button_text = '' %}
{% endunless %}

{% unless id %}
  {% assign id = 'newsletter' %}
{% endunless %}

{{ 'jp-newsletter.css' | asset_url | stylesheet_tag }}

<div class="newsletter-wrapper" id="newsletter">
  <div class="container">
    <div class="newsletter-content">
      <div class="title newsletter-title text-center">{{ section.settings.title }}</div>
      <div class="newsletter-desc light text-center">{{ section.settings.desc }}</div>
      <div class="newsletter-form-wrap">
      	<form id="email_signup_{{ id }}" class="{% if section.settings.klaviyo_id != blank %}klaviyo_gdpr_embed_{{ section.settings.klaviyo_id }}{% else %}klaviyo_gdpr_embed_{{ list_id }}{% endif %} newsletter-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
          <input type="hidden" name="g" value="{% if section.settings.klaviyo_id != blank %}{{ section.settings.klaviyo_id }}{% else %}{{ list_id }}{% endif %}">
          <input type="hidden" name="$fields" value="$consent">
          <input type="hidden" name="$list_fields" value="$consent">


          <div class="klaviyo_messages">
            <div class="success_message note note--success success-message text-center" style="display:none;"></div>
            <div class="error_message note note--error" style="display:none;"></div>
          </div>
        	<div class="row mini-row newsletter-row customer-form-wrap">
            <div class="nl-input-group flex-box">
              <input id="k_id_email" type="email" placeholder="email@domain.com" name="email" class="nl-input" autocorrect="off" autocapitalize="off" value="{% if customer %}{{ customer.email }}{% endif %}" required>
              
                <button type="submit" class="nl-submit-btn" name="commit" id="Subscribe">
                  <span class="visually-hidden">submit newsletter form and subscribe</span>
                  {% include "icon-right" %}
                </button>
            </div>
          </div>
        </form>
      </div>
      <div class="policies-text light">{{ section.settings.policies_text }}</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "JP Newsletter",
    "settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Like to know what we’re up to?"
		},
		{
			"type": "text",
			"id": "desc",
			"label": "Description",
			"default": "Be the first to discover new products, behind de scene stories and promotions. Subscribe."
		},
		{
			"type": "richtext",
			"id": "policies_text",
			"label": "Policies text"
		},
		{
			"type": "text",
			"id": "klaviyo_id",
			"label": "Klaviyo id",
      "default" : "Yvx9Gs"
		}
	],
	"presets":[
      {
         "name":"JP Newsletter"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
