{{ 'jp-main-collection.css' | asset_url | stylesheet_tag }}
{{ 'jp-product-slider.css' | asset_url | stylesheet_tag }}



{% if section.settings.related %}
  {%- for product_collection in product.collections -%}
    {%- for link in linklists.main-design-collections.links -%}
      {% assign link_url = link.url | split: "/" %}
      {%- assign link_handle = link_url.last | handleize -%}

      {%- if product_collection.handle == link_handle -%}

        {%- assign coll = product_collection.handle -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if coll -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

{% assign a = 0 %}
{% for product in collections[coll].products limit:24 %}
      {% if section.settings.related %}
        {% if section.settings.upsell_type == "bag" %}
      		{% unless product.type == "City Bag" or product.type == "Box Filled" or product.type == "Box" or product.type == "Drinking Bottle" or product.type == "Girls" %}
      			{% continue %}
      		{% endunless %}
        {% endif %}
        {% if section.settings.upsell_type == "accessories" %}
      		{% unless product.type == "Keychain" or product.type == "Keychain charm" or product.type == "Name label"%}
      			{% continue %}
      		{% endunless %}
        {% endif %}
      {% endif %}
	{% assign a = a | plus: 1 %}
{% endfor %}
{% else %}
	{% assign coll = section.settings.collection %}
{% endif %}

<div {% if section.settings.related %}id="to-related"{% endif %} class="jp-prouduct-slider-wrap{% if section.settings.bg_color == 'light' %} light-bg{% endif %} {% if section.settings.related and a == 0 %}no-disp{% endif %} {% if section.settings.related %}related-blk{% endif %}">
  <div class="container rel">
    <div class="product-slider-first justify-center no-d">
        <div class="product-slider-title title">{{ section.settings.title }}</div>
        <div class="product-slider-desc light">{{ section.settings.desc }}</div>
      {% if section.settings.btn_txt != '' %}
        <a href="{{ section.settings.btn_url }}" class="btn title product-slider-btn no-t-m">{{ section.settings.btn_txt }}</a>
      {% endif %}
      </div>
    <div class="jp-product-slider no-d">
      {% for product in collections[coll].products limit:24 %}
      {% if section.settings.related %}
        {% if section.settings.upsell_type == "bag" %}
      		{% unless product.type == "City Bag" or product.type == "Box Filled" or product.type == "Box" or product.type == "Drinking Bottle" or product.type == "Girls" %}
      			{% continue %}
      		{% endunless %}
        {% endif %}
        {% if section.settings.upsell_type == "accessories" %}
      		{% unless product.type == "Keychain" or product.type == "Keychain charm" or product.type == "Name label"%}
      			{% continue %}
      		{% endunless %}
        {% endif %}
      {% endif %}
      
      	<div class="product-card">
        	<div class="product-images-block rel">
            <a href="{{ product.url }}">
              
              {% assign collection_is_bestellers = false %}
              {% assign is_bestseller = false %}
              {% assign last_items = false %}
              {% if product.first_available_variant.inventory_quantity <= 10 and product.first_available_variant.inventory_policy != "continue" %}
                {% assign last_items = true %}
              {% endif %}
              {% if product.tags contains 'bestseller' %}
                {% assign is_bestseller = true %}
              {% endif %}
              {% if collection.handle == 'bestseller' or collection.handle == 'bestsellers'  %}
                {% assign collection_is_bestellers = true %}
              {% endif %}
              
              {% if last_items and collection.handle != 'last-items' and collection.handle != 'letzte-artikel' %}
                {% unless product.type contains 'Gift card' or product.title contains 'Gift' %}
                  <div class="prod-tag product-tag-last medium">{{ 'products.product.last_item' | t }}</div>
                {% endunless %}
              {% elsif is_bestseller %}
                  {% unless collection_is_bestellers %}
                    <div class="prod-tag medium">{{ 'products.product.bestseller' | t }}</div>
                  {% endunless %}
              {% endif %} 
              {% unless collection.handle == 'neu' %}
                {% for collectionx in product.collections %}{% if collectionx.handle contains "neu" %}
                <div class="prod-neu-tag medium">{{ 'products.product.new' | t }}</div>{% break %}
                {% endif %}{% endfor %}    
              {% endunless %}
              
              {% for image in product.images limit: 2 %}              
              {% if forloop.first and forloop.last %}
              <img src="{{ image | img_url: "x400" }}" alt="{{ product.title }}" loading="lazy">
              {% endif %}
              <img class="{% if forloop.last %}no-t-m{% endif %}" src="{{ image | img_url: "x400" }}" alt="{{ product.title }}" loading="lazy">
              {% endfor %}  
            </a>
              {% assign noAddToCartFromCollection = false %}
              {% if product.type == 'Ludilabel' or product.type == 'Goedgemerkt' or product.type == 'Keychain letter' or product.type == 'Keychain charm' %}
                {% assign noAddToCartFromCollection = true %}
              {% endif %}
              {% unless product.selected_or_first_available_variant.available %}
                {% assign noAddToCartFromCollection = true %}
              {% endunless %}
              {%- unless noAddToCartFromCollection -%}
              <div class="coll-add-to-cart-btn" data-variant="{{ product.first_available_variant.id }}">+</div>
              {%- endunless -%}
          </div>
          <div class="product-details">
            <div class="product-name-price-col justify-between">
            	<div class="product-title medium">
                  {% assign remove_word = product.title | truncatewords: 1, "" %}
                  
                  <a href="{{ product.url }}">
                  {{ product.title | split: " - " | first }}
                  </a>
                </div>
              	<div class="product-pirce medium">                  
                  <a href="{{ product.url }}">
                    {% if localization.country.currency.iso_code == 'EUR' %}
                      {{ product.price | times: 1 | money_without_currency | replace: ",00",",-" }}
                    {% else %}
                      {{ product.price | times: 1 | money_without_trailing_zeros  | strip_html }}
                    {% endif %}
                  </a>
              </div>
             
            </div>
            <div class="product-price-col">
               <div class="product-sub-title light">
                 <a href="{{ product.url }}">
                   {{ product.title | split: " - " | last }}
                   {% comment %}{{ product.metafields.descriptors.subtitle }}{% endcomment %}
                 </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="no-t-m jp-prod-slider-wrapper">
      <div class="product-slider-first justify-center">
        <div class="product-slider-title title">{{ section.settings.title }}</div>
        <div class="product-slider-desc light">{{ section.settings.desc }}</div>
        {% if section.settings.btn_txt != '' %}
        <a href="{{ section.settings.btn_url }}" class="btn title product-slider-btn">{{ section.settings.btn_txt }}</a>
        {% endif %}
      </div>
      <div class="abs no-t-m jp-product-slider-wrapper">
    <div class="jp-product-slider">
      
      {% for product in collections[coll].products limit:24 %}
      {% if section.settings.related %}
        {% if section.settings.upsell_type == "bag" %}
      		{% unless product.type == "City Bag" or product.type == "Box Filled" or product.type == "Box" or product.type == "Drinking Bottle" or product.type == "Girls" %}
      			{% continue %}
      		{% endunless %}
        {% endif %}
        {% if section.settings.upsell_type == "accessories" %}
      		{% unless product.type == "Keychain" or product.type == "Keychain charm" or product.type == "Name label"%}
      			{% continue %}
      		{% endunless %}
        {% endif %}
      {% endif %}
      	<div class="product-card">
        	<div class="product-images-block rel">
            <a href="{{ product.url }}">
              
              {% assign collection_is_bestellers = false %}
              {% assign is_bestseller = false %}
              {% assign last_items = false %}
              {% if product.first_available_variant.inventory_quantity <= 10 and product.first_available_variant.inventory_policy != "continue" %}
                {% assign last_items = true %}
              {% endif %}
              {% if product.tags contains 'bestseller' %}
                {% assign is_bestseller = true %}
              {% endif %}
              {% if collection.handle == 'bestseller' or collection.handle == 'bestsellers'  %}
                {% assign collection_is_bestellers = true %}
              {% endif %}
              
              {% if last_items and collection.handle != 'last-items' and collection.handle != 'letzte-artikel' %}
                {% unless product.type contains 'Gift card' or product.title contains 'Gift' %}
                  <div class="prod-tag product-tag-last medium">{{ 'products.product.last_item' | t }}</div>
                {% endunless %}
              {% elsif is_bestseller %}
                  {% unless collection_is_bestellers %}
                    <div class="prod-tag medium">{{ 'products.product.bestseller' | t }}</div>
                  {% endunless %}
              {% endif %} 
              {% unless collection.handle == 'neu' %}
                {% for collectionx in product.collections %}{% if collectionx.handle contains "neu" %}
                <div class="prod-neu-tag medium">{{ 'products.product.new' | t }}</div>{% break %}
                {% endif %}{% endfor %}    
              {% endunless %}
              
              {% for image in product.images limit: 2 %}
              {% if forloop.first and forloop.last %}
              <img src="{{ image | img_url: "x400" }}" alt="{{ product.title }}" loading="lazy">
              {% endif %}
              <img class="{% if forloop.last %}no-t-m{% endif %}" src="{{ image | img_url: "x400" }}" alt="{{ product.title }}" loading="lazy">
              {% endfor %}  
            </a>
              {% assign noAddToCartFromCollection = false %}
              {% if product.type == 'Ludilabel' or product.type == 'Goedgemerkt' or product.type == 'Keychain letter' or product.type == 'Keychain charm' %}
                {% assign noAddToCartFromCollection = true %}
              {% endif %}
              {% unless product.selected_or_first_available_variant.available %}
                {% assign noAddToCartFromCollection = true %}
              {% endunless %}
              {%- unless noAddToCartFromCollection -%}
              <div class="coll-add-to-cart-btn" data-variant="{{ product.first_available_variant.id }}">+</div>
              {%- endunless -%}
          </div>
          <div class="product-details">
            <div class="product-name-price-col justify-between">
            	<div class="product-title medium">
                  {% assign remove_word = product.title | truncatewords: 1, "" %}                  
                  <a href="{{ product.url }}">
                    {{ product.title | split: " - " | first }}
                  </a>
                </div>
              	<div class="product-pirce medium">                  
                  <a href="{{ product.url }}">
                    {% if localization.country.currency.iso_code == 'EUR' %}
                      {{ product.price | times: 1 | money_without_currency | replace: ",00",",-" }}
                    {% else %}
                      {{ product.price | times: 1 | money_without_trailing_zeros  | strip_html }}
                    {% endif %}
                  </a>
              </div>
             
            </div>
            <div class="product-price-col">
               <div class="product-sub-title light">                 
                 <a href="{{ product.url }}">
                   {{ product.title | split: " - " | last }}
                   {% comment %}{{ product.metafields.descriptors.subtitle }}{% endcomment %}
                 </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
      </div>
    </div>
    
      {% if section.settings.btn_txt != '' %}
        <a href="{{ section.settings.btn_url }}" class="btn title product-slider-btn no-d">{{ section.settings.btn_txt }}</a>
      {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "JP Product Slider",
	"class": "related-block",
    "settings": [
		{
          "type": "select",
          "id": "bg_color",
          "label": "Background Color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ],
          "default": "white"
        },
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "desc",
			"label": "Description"
		},
		{
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
		{
			"type": "text",
			"id": "btn_txt",
			"label": "Button Text"
		},
		{
			"type": "url",
			"id": "btn_url",
			"label": "Button URL"
		},
		{
			"type": "checkbox",
			"id": "related",
			"label": "product related box"
		},
		{
          "type": "select",
          "id": "upsell_type",
          "label": "Upsell Type",
          "options": [
            {
              "value": "bag",
              "label": "Bags"
            },
            {
              "value": "accessories",
              "label": "Accessories"
            },
            {
              "value": "paper",
              "label": "Paper"
            }
          ],
          "default": "bag"
        }
	],
	"presets":[
      {
         "name":"JP Product Slider"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
