{{ 'jp-main-collection.css' | asset_url | stylesheet_tag }}
{{ 'jp-product-slider.css' | asset_url | stylesheet_tag }}
{% assign phandle = product.handle %}
{%- assign prod_title = product.title | downcase -%}
{% if prod_title contains "elastic" %}
  {%- assign slider_title = "Different Lunchboxes" -%}
{% else %}
  {%- assign slider_title = "Different Elastics" -%}
{% endif %}
{% assign phandle = product.handle %}
{% assign tag_arr = product.tags | downcase %}
{% assign a = 1 %}
{% if tag_arr contains "lunchbox" and tag_arr contains "elastic" %}
  {% if tag_arr contains "girl" or tag_arr contains "pink" %}
    {% assign coll = "lunchbox-pink" %}
  {% endif %}
  {% if tag_arr contains "boy" or tag_arr contains "black" %}
    {% assign coll = "lunchbox-black" %}
  {% endif %}
{% elsif tag_arr contains "pink" and tag_arr contains "lunchbox" %}
  {% assign coll = "lunchbox-elastic-girls" %}
{% elsif tag_arr contains "black" and tag_arr contains "lunchbox" %}
  {% assign coll = "lunchbox-elastic-boys" %}
{% else %}
  {% assign a = 0 %}
{% endif %}
{%- unless coll -%}
  {% if section.settings.lunchbox_collection != blank %}
    {%- assign coll = section.settings.lunchbox_collection -%}
    {%- assign slider_title = section.settings.lunchbox_title -%}
  {% endif %}
{%- endunless -%}
<div
  id=""
  class="jp-prouduct-slider-wrap {% unless coll %}no-disp{% endunless %} related-blk"
  data-test="{{ tag_arr }}"
>
  <div class="container rel">
    <div class="product-slider-first justify-center no-d">
      <div class="product-slider-title title">{{ slider_title }}</div>
      <div class="product-slider-desc light">{{ 'sections.upsell.upsell1_description' | t }}</div>
    </div>
    <div class="jp-product-slider no-d">
      {% for product in collections[coll].products limit: 24 %}
        <div class="product-card">
          <div class="product-images-block rel">
            <a href="{{ product.url }}">
              {% assign collection_is_bestellers = false %}
              {% assign is_bestseller = false %}
              {% assign last_items = false %}
              {% if product.first_available_variant.inventory_quantity <= 10 and product.first_available_variant.inventory_policy != "continue" %}
                {% assign last_items = true %}
              {% endif %}
              {% if product.tags contains 'bestseller' %}
                {% assign is_bestseller = true %}
              {% endif %}
              {% if collection.handle == 'bestseller' or collection.handle == 'bestsellers' %}
                {% assign collection_is_bestellers = true %}
              {% endif %}

              {% if last_items and collection.handle != 'last-items' and collection.handle != 'letzte-artikel' %}
                {% unless product.type contains 'Gift card' or product.title contains 'Gift' %}
                <div class="prod-tag product-tag-last medium">{{ 'products.product.last_item' | t }}</div>
                {% endunless %}
              {% elsif is_bestseller %}
                {% unless collection_is_bestellers %}
                  <div class="prod-tag medium">{{ 'products.product.bestseller' | t }}</div>
                {% endunless %}
              {% endif %}
              {% unless collection.handle == 'neu' %}
                {% for collectionx in product.collections -%}
                  {%- if collectionx.handle contains "neu" %}
                    <div class="prod-neu-tag medium">{{ 'products.product.new' | t }}</div>
                    {% break %}
                  {% endif -%}
                {%- endfor %}
              {% endunless %}

              {% for image in product.images limit: 2 %}
                {% if forloop.first and forloop.last %}
                  <img src="{{ image | img_url: "x400" }}" alt="{{ product.title }}" loading="lazy">
                {% endif %}
                <img
                  class="{% if forloop.last %}no-t-m{% endif %}"
                  src="{{ image | img_url: "x400" }}"
                  alt="{{ product.title }}"
                  loading="lazy"
                >
              {% endfor %}
            </a>
            {% assign noAddToCartFromCollection = false %}
            {% if product.type == 'Ludilabel' or product.type == 'Goedgemerkt' or product.type == 'Keychain letter' or product.type == 'Keychain charm' %}
              {% assign noAddToCartFromCollection = true %}
            {% endif %}
            {% unless product.selected_or_first_available_variant.available %}
              {% assign noAddToCartFromCollection = true %}
            {% endunless %}
            {%- unless noAddToCartFromCollection -%}
              <div class="coll-add-to-cart-btn" data-variant="{{ product.first_available_variant.id }}">+</div>
            {%- endunless -%}
          </div>
          <div class="product-details">
            <div class="product-name-price-col justify-between">
              <div class="product-title medium">
                {% assign remove_word = product.title | truncatewords: 1, "" %}

                <a href="{{ product.url }}">
                  {{ product.title | split: ' - ' | first }}
                </a>
              </div>
              <div class="product-pirce medium">
                <a href="{{ product.url }}">
                  {% if localization.country.currency.iso_code == 'EUR' %}
                    {{ product.price | times: 1 | money_without_currency | replace: ",00",",-" }}
                  {% else %}
                    {{ product.price | times: 1 | money_without_trailing_zeros  | strip_html }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="product-price-col">
              <div class="product-sub-title light">
                <a href="{{ product.url }}">
                  {{ product.title | split: ' - ' | last }}
                  {% comment %}{{ product.metafields.descriptors.subtitle }}{% endcomment %}
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="no-t-m jp-prod-slider-wrapper">
      <div class="product-slider-first justify-center">
        <div class="product-slider-title title">{{ slider_title }}</div>
        <div class="product-slider-desc light">{{ 'sections.upsell.upsell1_description' | t }}</div>
      </div>
      <div class="abs no-t-m jp-product-slider-wrapper">
        <div class="jp-product-slider">
          {% for product in collections[coll].products limit: 24 %}
            <div class="product-card">
              <div class="product-images-block rel">
                <a href="{{ product.url }}">
                  {% assign collection_is_bestellers = false %}
                  {% assign is_bestseller = false %}
                  {% assign last_items = false %}
                  {% if product.first_available_variant.inventory_quantity <= 10 and product.first_available_variant.inventory_policy != "continue" %}
                    {% assign last_items = true %}
                  {% endif %}
                  {% if product.tags contains 'bestseller' %}
                    {% assign is_bestseller = true %}
                  {% endif %}
                  {% if collection.handle == 'bestseller' or collection.handle == 'bestsellers' %}
                    {% assign collection_is_bestellers = true %}
                  {% endif %}

                  {% if last_items and collection.handle != 'last-items' and collection.handle != 'letzte-artikel' %}
                    {% unless product.type contains 'Gift card' or product.title contains 'Gift' %}
                    <div class="prod-tag product-tag-last medium">{{ 'products.product.last_item' | t }}</div>
                    {% endunless %}
                  {% elsif is_bestseller %}
                    {% unless collection_is_bestellers %}
                      <div class="prod-tag medium">{{ 'products.product.bestseller' | t }}</div>
                    {% endunless %}
                  {% endif %}
                  {% unless collection.handle == 'neu' %}
                    {% for collectionx in product.collections -%}
                      {%- if collectionx.handle contains "neu" %}
                        <div class="prod-neu-tag medium">{{ 'products.product.new' | t }}</div>
                        {% break %}
                      {% endif -%}
                    {%- endfor %}
                  {% endunless %}

                  {% for image in product.images limit: 2 %}
                    {% if forloop.first and forloop.last %}
                      <img src="{{ image | img_url: "x400" }}" alt="{{ product.title }}" loading="lazy">
                    {% endif %}
                    <img
                      class="{% if forloop.last %}no-t-m{% endif %}"
                      src="{{ image | img_url: "x400" }}"
                      alt="{{ product.title }}"
                      loading="lazy"
                    >
                  {% endfor %}
                </a>
                {% assign noAddToCartFromCollection = false %}
                {% if product.type == 'Ludilabel' or product.type == 'Goedgemerkt' or product.type == 'Keychain letter' or product.type == 'Keychain charm' %}
                  {% assign noAddToCartFromCollection = true %}
                {% endif %}
                {% unless product.selected_or_first_available_variant.available %}
                  {% assign noAddToCartFromCollection = true %}
                {% endunless %}
                {%- unless noAddToCartFromCollection -%}
                  <div class="coll-add-to-cart-btn" data-variant="{{ product.first_available_variant.id }}">+</div>
                {%- endunless -%}
              </div>
              <div class="product-details">
                <div class="product-name-price-col justify-between">
                  <div class="product-title medium">
                    {% assign remove_word = product.title | truncatewords: 1, "" %}
                    <a href="{{ product.url }}">
                      {{ product.title | split: ' - ' | first }}
                    </a>
                  </div>
                  <div class="product-pirce medium">
                    <a href="{{ product.url }}">
                      {% if localization.country.currency.iso_code == 'EUR' %}
                        {{ product.price | times: 1 | money_without_currency | replace: ",00",",-" }}
                      {% else %}
                        {{ product.price | times: 1 | money_without_trailing_zeros  | strip_html }}
                      {% endif %} 
                    </a>
                  </div>
                </div>
                <div class="product-price-col">
                  <div class="product-sub-title light">
                    <a href="{{ product.url }}">
                      {{ product.title | split: ' - ' | last }}
                      {% comment %}{{ product.metafields.descriptors.subtitle }}{% endcomment %}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if a == 0 %}
  <script>
    window.keep = false;
  </script>
{% else %}
  <script>
    window.keep = true;
  </script>
{% endif %}

{% schema %}
{
  "name": "JP Prod Slider Lunchbox",
  "class": "related-block-2",
  "settings": [
    {
      "type": "text",
      "id": "lunchbox_title",
      "label": "Title",
      "info": "Will be displayed if product doesn't contain the relevant tags."
    },
    {
      "type": "collection",
      "id": "lunchbox_collection",
      "label": "Collection",
      "info": "Will be displayed if product doesn't contain the relevant tags."
    }
  ],
  "presets": [
    {
      "name": "JP Prod Slider Lunchbox"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
