{{ 'jp-selling-points.css' | asset_url | stylesheet_tag }}
<div class="sp-cols-wrapper">
  <div class="container flex-box sp-cols">
    {%- for block in section.blocks -%}
    <div class="sp-col">
      <div class="sp-col-img">
        {%- if block.settings.image != blank -%}
        <img
             srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                     {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                     {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | img_url: '990x' }} 990w,{%- endif -%}
                     {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                     {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                     {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | img_url: '2200x' }} 2200w,{%- endif -%}
                     {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                     {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
             src="{{ block.settings.image | img_url: '1500x' }}"
             sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
             alt="{{ block.settings.image.alt | escape }}"
             loading="lazy"
             width="{{ block.settings.image.width }}"
             height="{{ block.settings.image.height }}"
             >
        {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
      </div>
      <div class="sp-col-text">
        {{block.settings.description}}
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
  {
    "name": "JP Selling Points",
    "settings": [
	],
	"blocks": [
    {
      "type": "image",
      "name": "Selling point",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "html",
          "id": "description",
          "label": "Selling point description"
        }
      ]
    }
	],
   "presets":[
      {
         "name":"JP Selling points"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
