$( document ).ready(function() {
  var text = `{{ 'general.checkout.links.order_placing' | t }} <a aria-haspopup="dialog" data-modal="policy-terms-of-service" data-title-text="{{ 'general.checkout.terms_of_service' | t }}" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/terms-of-service.html?`+Shopify.locale+`-`+Shopify.country+`">{{ 'general.checkout.terms_of_service' | t }}</a> {{ 'general.checkout.understand' | t }} <a aria-haspopup="dialog" data-modal="policy-privacy-policy" data-title-text="{{ 'general.checkout.privacy_policy' | t }}" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/privacy-policy.html?`+Shopify.locale+`-`+Shopify.country+`">{{ 'general.checkout.privacy_policy' | t }}</a>.`;
  if(Shopify.Checkout.locale == 'de') {
  $('.step__footer').after(`<br>
		<div class="checkout__legal-wrapper">
          <div class="checkout__legal-text">
            {{ 'general.checkout.links.order_placing' | t }} <a aria-haspopup="dialog" data-modal="policy-terms-of-service" data-title-text="{{ 'general.checkout.terms_of_service' | t }}" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/terms-of-service.html?`+Shopify.locale+`-`+Shopify.country+`">{{ 'general.checkout.terms_of_service' | t }}</a> {{ 'general.checkout.understand' | t }} <a aria-haspopup="dialog" data-modal="policy-privacy-policy" data-title-text="{{ 'general.checkout.privacy_policy' | t }}" data-close-text="Close" data-iframe="true" href="/`+parseInt(window.checkout_number)+`/policies/privacy-policy.html?`+Shopify.locale+`-`+Shopify.country+`">{{ 'general.checkout.privacy_policy' | t }}</a>.
          </div>
        </div>
  `);
  } else {
    $('.step__footer').after(`<br>
          <div class="checkout__legal-wrapper">
            <div class="checkout__legal-text">
              `+text+`
            </div>
          </div>
    `);
  }
  
});